*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg-clr: #474747;
    --hver-clr: #4A8B70;
    --lke-clr: #D76239;
    --bx-clr: #fff3f3;
}

@font-face {
    font-family: Raleway;
    src: url(./fonts/Raleway/Raleway-VariableFont_wght.ttf);
}

body{
    font-family: Raleway;
    line-height: 1.6;
    background-color: var(--bg-clr);
}

.container{
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 2em;
    margin: auto;
}

/* Introduction Section */
.introduction-section{
    display: flex;
    gap: 2em;
}

.img{
    width: 25%;
    height: 300px;
    border-radius: 30px;
    background-color: var(--bx-clr);
}

.name-surname{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 2em;
    border-radius: 30px;
    background-color: var(--bx-clr);
}

.intro-paragraph{
    width: 70ch;
    font-size: 1.5rem;
}

/* First Section */

.section-1{
    display: flex;
    gap: 2em;
}

.proficiency-box{
    width: 45%;
    padding: 2em;
    border-radius: 30px;
    background-color: var(--bx-clr);
}
.proficiency-skills{
    font-size: 1.2rem;
    display: flex;
    gap: 2em;
}

.proficiency{
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    width: 45%;
    padding: 3em;
    border-radius: 30px;
    background-color: #fff;
}

.stats{
    display: flex;
    flex-direction: column;
    gap: 1.2em;
}

.stats-box{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1.3em;
}

.tool{
    width: 100px;
}

.bar,
.tailwind-bar,
.javascript-bar,
.react-bar {
    height: 20px;
    border-radius: 5px;
    background-color: var(--hver-clr);
}

.bar {
    width: 80%;
}

.tailwind-bar {
    width: 50%;
}

.javascript-bar {
    width: 10%;
}

.react-bar {
    width: 5%;
}

.skills-box{
    width: 55%;
    padding: 2em;
    border-radius: 30px;
    background-color: var(--bx-clr);
}


.skills-list ul{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
}

.skills-list ul li{
    list-style: none;
    font-size: 1.2rem;
    padding: .2em;
    border-radius: 20px;
    background-color: #d3d0d0;
}

/* Second Section */

.section-2{
    width: 100%;
    padding: 2em;
    border-radius: 30px;
    background-color: var(--bx-clr);
}

h2{
    text-align: center;
}

.project-cards{
    margin-top: 2em;
    display: flex;
    gap: 2em;
    justify-content: space-between;
}

.card-1,
.card-2,
.card-3,
.card-4{
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 1em;
    border-radius: 30px;
    background-color: #dad2d2;
    font-size: 1.2rem;
    cursor: pointer;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Third Section */

.section-3{
    display: flex;
    gap: 2em;
}

.sub-section-1{
    width: 80%;
    padding: 2em;
    border-radius: 30px;
    background-color: var(--bx-clr);
}

.education-box h2{
    text-align: center;
}

.education-list{
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    font-size: 1.2rem;
}

.education-list-1,
.education-list-2,
.education-list-3{
    width: 100%;
    display: flex;
    padding: 1em;
    column-gap: 2em;
    border-radius: 30px;
    background-color:#dad2d2;;
}

.sub-section-2{
    width: 20%;
    padding: 2em;
    border-radius: 30px;
    background-color: var(--bx-clr);
}

/* Forth Section */

.section-4{
    width: 100%;
    padding: 2em;
    border-radius: 30px;
    background-color: var(--bx-clr);
}


.experience-box{
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    font-size: 1.2rem;
}

.most-recent{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--lke-clr);
}

.experience-box-1,
.experience-box-2,
.experience-box-3{
    width: 100%;
    display: flex;
    padding: 1em;
    column-gap: 2em;
    border-radius: 30px;
    background-color:#dad2d2;;
}

/* Footer */

footer{
    width: 100%;
    padding: 2em;
    border-radius: 30px;
    background-color: var(--lke-clr);
}

footer h3{
    font-size: 1.5rem;
}

.my-info{
    margin-top: 1em;
    display: flex;
    gap: 2em;
    font-size: 1.2rem;
}