*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg-clr: #474747;
    --hver-clr: #4A8B70;
    --lke-clr: #D76239;
    --bx-clr: #fff3f3;
}

@font-face {
    font-family: Raleway;
    src: url(./fonts/Raleway/Raleway-VariableFont_wght.ttf);
}

body{
    font-family: Raleway;
    line-height: 1.6;
    background-color: var(--bg-clr);
}

.container{
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 2em;
    margin: auto;
}

/* Introduction Section */
.introduction-section{
    display: flex;
    gap: 2em;
}

.img-box{
    width: 30%;
    height: 300px;
    border-radius: 30px;
    overflow: hidden;
    background-color: var(--bx-clr);
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.name-surname{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 2em;
    border-radius: 30px;
    background-color: var(--bx-clr);
}

.intro-paragraph{
    width: fit-content;
    font-size: 1.5rem;
}

/* First Section */

.section-1{
    display: flex;
    gap: 2em;
}

.proficiency-box{
    width: 45%;
    padding: 2em;
    border-radius: 30px;
    background-color: var(--bx-clr);
}
.proficiency-skills{
    font-size: 1.2rem;
    display: flex;
    gap: 2em;
}

.proficiency{
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    width: 45%;
    padding: 3em;
    border-radius: 30px;
    background-color: #fff;
}

.stats{
    display: flex;
    flex-direction: column;
    gap: 1.2em;
}

.stats-box{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1.3em;
}

.tool{
    width: 100px;
}

.bar,
.tailwind-bar,
.javascript-bar,
.react-bar {
    height: 20px;
    border-radius: 5px;
    background-color: var(--hver-clr);
}

.bar {
    width: 80%;
}

.tailwind-bar {
    width: 50%;
}

.javascript-bar {
    width: 10%;
}

.react-bar {
    width: 5%;
}

.skills-box{
    width: 55%;
    padding: 2em;
    border-radius: 30px;
    background-color: var(--bx-clr);
}


.skills-list ul{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
}

.skills-list ul li{
    list-style: none;
    font-size: 1.2rem;
    padding: .2em;
    border-radius: 20px;
    background-color: #d3d0d0;
}

/* Second Section */

.section-2{
    width: 100%;
    padding: 2em;
    border-radius: 30px;
    background-color: var(--bx-clr);
}

h2{
    text-align: center;
}

.project-cards{
    margin-top: 2em;
    display: flex;
    gap: 2em;
    justify-content: space-between;
}

.card-1,
.card-2,
.card-3,
.card-4{
    width: 25%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2em;
    padding: 1em;
    border-radius: 30px;
    background-color: #dad2d2;
    font-size: 1.2rem;
    cursor: default;
    box-shadow: 10px 1px 3px #5f5b5b;
    transition: .2s ease-in;
}

.card-1:hover,
.card-2:hover,
.card-3:hover,
.card-4:hover{
    color: #fff;
    background-color: var(--hver-clr);
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Third Section */

.section-3{
    display: flex;
    gap: 2em;
}

.sub-section-1{
    width: 80%;
    padding: 2em;
    border-radius: 30px;
    background-color: var(--bx-clr);
}

.education-box h2{
    text-align: center;
}

.education-list{
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    font-size: 1.2rem;
}

.education-list-1,
.education-list-2,
.education-list-3{
    width: 100%;
    display: flex;
    padding: 1em;
    column-gap: 2em;
    border-radius: 30px;
    background-color:#dad2d2;
    box-shadow: 10px 1px 3px #5f5b5b;
    transition: .2s ease;
}

.education-list-1:hover,
.education-list-2:hover,
.education-list-3:hover{
    background-color: var(--hver-clr);
    color: #fff;
}

.sub-section-2{
    width: 20%;
    padding: 2em;
    border-radius: 30px;
    background-color: var(--bx-clr);
}

h3{
    text-align: center;
}

.languages-design-frameworks{
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.languages .fa-brands{
    display: block;
    width: 100%;
}

.languages{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    width: 100%;
    height: 270px;
    margin-top: 2em;
    border-radius: 30px;
    box-shadow: 10px 1px 3px #5f5b5b;
    background-color: #dad2d2;
}

.design{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    padding: 1em;
    gap: 3em;
    border-radius: 30px;
    box-shadow: 10px 1px 3px #5f5b5b;
    background-color: #dad2d2;
}

.frameworks{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    padding: 1em;
    gap: 3em;
    border-radius: 30px;
    box-shadow: 10px 1px 3px #5f5b5b;
    background-color: #dad2d2;
}

/* Forth Section */

.section-4{
    width: 100%;
    padding: 2em;
    border-radius: 30px;
    background-color: var(--bx-clr);
}


.experience-box{
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    font-size: 1.2rem;
}

.most-recent{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--lke-clr);
}

.experience-box-1,
.experience-box-2,
.experience-box-3{
    width: 100%;
    display: flex;
    padding: 1em;
    column-gap: 2em;
    border-radius: 30px;
    background-color:#dad2d2;
    cursor: default;
    transition: .2s ease;
    box-shadow: 10px 1px 3px #5f5b5b;
}

.experience-box-1:hover,
.experience-box-2:hover,
.experience-box-3:hover{
    background-color: var(--hver-clr);
    color: #fff;
}

/* Footer */

footer{
    width: 100%;
    padding: 2em;
    border-radius: 30px;
    color: #fff;
    background-color: var(--lke-clr);
}

footer h3{
    font-size: 1.5rem;
}

footer a{
    text-decoration: none;
    color: #fff;
}

.my-info{
    margin-top: 1em;
    display: flex;
    gap: 2em;
    font-size: 1.2rem;
}

/* Media Quiry */

@media(width <= 1080px){
/* Introduction Section */
.img-box,
.name-surname{
    width: 50%;
}

.intro-paragraph{
    font-size: 1rem;
}

 /* Third Section */
 .design{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    gap: 3em;
 }

 /* Second Section */
 .project-cards{
    display: flex;
    flex-direction: column;
 }

 .card-1,
.card-2,
.card-3,
.card-4{
    width: 100%;
}

/* Third Section */
.section-3{
    display: flex;
    flex-direction: column;
}

.sub-section-1{
    width: 100%;
}

.sub-section-2{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.tools-box{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.tools-box h2{
    text-align: center;
}

.languages-design-frameworks{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

footer a{
    display: none;
}

}

/* Ipad Design */

@media(max-width: 730px){
    .introduction-section{
        display: flex;
        flex-direction: row;
    }
    .img-box,
    .name-surname{
        width: 50%;
    }

    .name-surname{
        font-size: .5rem;
    }

      .section-1{
        display: flex;
        flex-direction: column;
    }

    .proficiency-box,
    .skills-box{
        width: 100%;
    }

      .languages-design-frameworks{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.project-cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

}


/* Iphone Design */
@media(width<=559px){
    /* Introduction Section */
    .introduction-section{
        display: flex;
        flex-direction: column;
    }

    .img-box,
    .name-surname{
        width: 100%;
    }


    /* First Section */
    .section-1{
        display: flex;
        flex-direction: column;
    }

    .proficiency-box,
    .skills-box{
        width: 100%;
    }

    /* Second Section */
    .project-cards{
        display: flex;
        flex-direction: column;
    }

    /* Third Section */
    .education-list-1,
    .education-list-2,
    .education-list-3{
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    .education-list-1:active,
    .education-list-2:active,
    .education-list-3:active{
        background-color: var(--hver-clr);
        color: #fff;
    }

  .languages-design-frameworks{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

    .sub-section-2 h2{
        text-align: center;
    }

    /* Forth Section */

    .experience-box-1,
    .experience-box-2,
    .experience-box-3{
        display: flex;
        flex-direction: column;
        padding: 1.5em;
    }

    .experience-box-1:active,
    .experience-box-2:active,
    .experience-box-3:active{
        background-color: var(--hver-clr);
        color: #fff;
    }

    /* Footer */
    .my-info{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

}