*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg-clr: #474747;
    --hver-clr: #4A8B70;
    --lke-clr: #D76239;
    --bx-clr: #fff3f3;
}

body{
    line-height: 1.6;
    background-color: var(--bg-clr);
}

.container{
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 2em;
    margin: auto;
}

/* Introduction Section */
.introduction-section{
    display: flex;
    gap: 2em;
}

.img{
    width: 25%;
    height: 300px;
    border-radius: 30px;
    background-color: var(--bx-clr);
}

.name-surname{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 2em;
    border-radius: 30px;
    background-color: var(--bx-clr);
}

.intro-paragraph{
    width: 70ch;
    font-size: 1.5rem;
}

/* First Section */

.section-1{
    display: flex;
    gap: 2em;
}

.proficiency-box{
    width: 45%;
    padding: 2em;
    border-radius: 30px;
    background-color: var(--bx-clr);
}
.proficiency-skills{
    font-size: 1.2rem;
    display: flex;
    gap: 2em;
}

.proficiency{
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    width: 45%;
    padding: 3em;
    border-radius: 30px;
    background-color: #fff;
}

.stats{
    display: flex;
    flex-direction: column;
    gap: 1.2em;
}

.stats-box{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1.3em;
}

.tool{
    width: 100px;
}

.bar,
.tailwind-bar,
.javascript-bar,
.react-bar {
    height: 20px;
    border-radius: 5px;
    background-color: var(--hver-clr);
}

.bar {
    width: 80%;
}

.tailwind-bar {
    width: 50%;
}

.javascript-bar {
    width: 10%;
}

.react-bar {
    width: 5%;
}

.skills-box{
    width: 55%;
    padding: 2em;
    border-radius: 30px;
    background-color: var(--bx-clr);
}


.skills-list ul{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1.5em;
}

ul li{
    list-style: none;
    font-size: 1.2rem;
    padding: .2em;
    border-radius: 20px;
    background-color: #d3d0d0;
}

/* Second Section */

.section-2{
    width: 100%;
    padding: 2em;
    border-radius: 30px;
    background-color: var(--bx-clr);
}

h2{
    text-align: center;
}

.project-cards{
    margin-top: 2em;
    display: flex;
    gap: 2em;
    justify-content: space-between;
}

.card-1,
.card-2,
.card-3,
.card-4{
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 1em;
    border-radius: 30px;
    background-color: #dad2d2;
    font-size: 1.2rem;
}
